@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181719;
  color: #ffffff;
}
header {
  padding-top: 3.125rem;
  height: 8vh;
}
.logo {
  cursor: pointer;
}

.logo p {
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1.1;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 0.5rem;
}

.main-conatiner {
  max-width: 90%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  padding-left: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
}

ul li a:hover {
  font-weight: 700;

  transition: all 0.3s ease;
}

/* burger Icon */
.burger {
  margin-right: 50px;
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  ul {
    position: absolute;
    right: 0px;
    height: 89vh;
    top: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transform: translateY(-111%);
    transition: transform 0.7s ease-in-out;
  }
  ul li {
    opacity: 0;
    height: 10%;
  }

  ul li a {
    padding: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateY(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotate .pati-1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.rotate .pati-2 {
  opacity: 0;
}
.rotate .pati-3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* hero section */

.featured-container {
  position: relative;
  padding-top: 9.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  justify-content: center;
}

.featured-content h2 {
  font-family: "Lora";
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.3;
  padding-bottom: 1em;
}

.featured-image img {
  max-width: 100%;
}
.featured-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 2em;
}

.cta {
  color: white;
  display: flex;
  align-items: center;
}

.cta a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.21;
  padding-right: 1em;
}

.card {
  background: #181719;
  padding: 1.3rem;
  position: absolute;
  bottom: -5.625rem;
  right: 4rem;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}
.profile img {
  max-width: 12.5%;
  height: 12.5%;
  border-radius: 50%;
  margin-right: 1rem;
}
.profile-content .name {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.profile-content .title {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #828282;
}

.content {
  width: 60%;
}

.content h3 {
  font-family: "Lora";
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}
